@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500.css');

body {
  margin:auto auto;
  padding: 0;
}
.plus {
  overflow: hidden;
  position: relative;
  margin: auto auto;
  display: table-cell;
  font-size: 0;
  height: 100vh;
  margin: auto auto;
  vertical-align: middle;
  width: 100vw;
  h3 {
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 500;
    margin: auto auto 10px auto;
    text-align: center;
  }
  h4 {
    font-family: 'Roboto';
    font-weight: 500;
    margin: 0 auto 5px auto;
  }
  p {
    font-family: 'Roboto';
    font-size: 13px;
    line-height: 17px;
    margin: 0 auto 0 auto;
  }
  a {
    color: #000;
  }

  // Map.
  .map_container {
    margin: auto auto;
    max-height: 100vh;
    max-width: 100vw;
    svg {
      display: block;
      margin: auto auto;
      g {
        path {
          stroke-width: 0.5px;
          stroke: #999;
        }  
        foreignObject {
          div {
            font-family: 'Roboto';
            font-size: 16px;
            text-align: center;
            font-weight: 600;
            text-shadow: 2px 2px 2px #fff;
            &.location {
              font-size: 40px;
              margin-bottom: 5px;
              img {
                height: 32px;
                vertical-align: -1px;
              }
              text-transform: uppercase;
            }
            &.meta {
              font-size: 30px;
              img {
                height: 20px;
                vertical-align: -1px;
                width: 38px;
              }
            }
          }
        }
      }
    }
  }

  @import 'basics.less';
}
